.board {
    display: flex;
}

.bam {
    display: flex;
    flex-direction: column;
    width: 12%;
    margin-top: 50px;
    margin-left: 120px;
    margin-bottom: 120px;
    padding-bottom: 30%;
    background-color: #ecf0f3;
}

.page {
    width: 75%;
    margin-top: 15px;
    margin-left: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px -1px 5px 1px;
}

.content {
    background-image: url(./img/bg1.png);
    background-size: cover;
    background-position: center;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 120px;
    padding-bottom: 30%;
}

.one-c .text {
    border-left: 5px solid aqua;
    box-shadow: 3px 0px 10px 2px grey;
}

.two-c .text {
    border-left: 5px solid aqua;
    box-shadow: 3px 0px 10px 2px grey;
}

.three-c .text {
    border-left: 5px solid aqua;
    box-shadow: 3px 0px 10px 2px grey;
}

.four-c .text {
    border-left: 5px solid aqua;
    box-shadow: 3px 0px 10px 2px grey;
}

.five-c .text {
    border-left: 5px solid aqua;
    box-shadow: 3px 0px 10px 2px grey;
}


.form {
    box-shadow: -2px -2px #d8dfe9;

}

.btn {
    padding: 15px 45px;
    border-radius: 50px;
}

.page-before {
    background-color: #0d6efd;
    color: white;
    width: 75%;
    margin-top: 15px;
    margin-left: 20px;
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    box-shadow: 1px -1px 5px 1px;
}

.hide {
    display: none;
}

.appear {
    display: block;
    margin-top: 3rem;
}

.ketqua {
    background-color: #d1e7dd;
}

.body .page {
    animation: opacity 0.5;
}


@keyframes opacity {
    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}